

.main{
  overflow-x: hidden;
  width: 100%;
  height:100%;
}
.css-3z1i9n {
  width: 100% !important;
}
.main-page , .home-page{
  padding: 20px !important;
}
@media (max-width: 600px) {
  .col-md-2 {
    display: none;
  }

  /* Make the main content (Home component) take up the full width */
  .col-md-10 {
    width: 100%;
  }
}
